html
  head
    title= "Conocenos"
  link(rel="stylesheet", href="style.css")
  body
    header 
      include includes/navbar.pug
    main
      h1="Conocenos"

      a(href=githubJavi) 
        img(src=imageJavi, alt="javirs200" )

      a(href=githubAlejandro)
        img(src=imgAlejandro, alt="alejandroFMA")  